@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import
	url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

body {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 40px;
	font: 'Open Sans', sans-serif;
	color: #345;
	background: #f0f2f4;
}

p:not(:last-child){
	margin:0020px;
}

main {
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: center;
	max-width: 1200px;
	padding: 80px;
	border: 1px solid rgba(0, 0, 0, .2);
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #abc;
}

.button {
	width: 150px;
}

.user {
	border-bottom: medium #000;
}

.account {
	min-height: 200 px;
	line-height: 5em;
	text-align: left;
}