<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>CodeRequest</servlet-name>
		<servlet-class>webim.CodeRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CodeRequest</servlet-name>
		<url-pattern>/CodeRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Listener</servlet-name>
		<servlet-class>webim.Listener</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Listener</servlet-name>
		<url-pattern>/listener</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>show_friends</servlet-name>
		<jsp-file>/show_friends.jsp</jsp-file>
	</servlet>
		<servlet-mapping>
		<servlet-name>show_friends</servlet-name>
		<url-pattern>/show_friends</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Authorization</servlet-name>
		<display-name>Authorization</display-name>
		<description></description>
		<servlet-class>webim.Authorization</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>Authorization</servlet-name>
		<url-pattern>/Authorization</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<display-name>Archetype Created Web Application</display-name>
</web-app>
