<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>CodeRequest</servlet-name>
		<servlet-class>webim.CodeRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CodeRequest</servlet-name>
		<url-pattern>/CodeRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Listener</servlet-name>
		<servlet-class>webim.Listener</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Listener</servlet-name>
		<url-pattern>/listener</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>show_friends</servlet-name>
		<jsp-file>/show_friends.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>show_friends</servlet-name>
		<url-pattern>/show_friends</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Authorization</servlet-name>
		<servlet-class>webim.Authorization</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authorization</servlet-name>
		<url-pattern>/Authorization</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RequestFriends</servlet-name>
		<servlet-class>webim.RequestFriendsFromVk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestFriends</servlet-name>
		<url-pattern>/RequestFriends</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>AutorisationCheckFilter</filter-name>
		<filter-class>webim.AutorisationCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AutorisationCheckFilter</filter-name>
		<url-pattern>/filter</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>/filter</welcome-file>
	</welcome-file-list>

	<display-name>Archetype Created Web Application</display-name>
</web-app>
